
.chart rect {
  fill: steelblue;
}

.chart text {
  fill: black;
  font: 10px sans-serif;
  text-anchor: end;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.map{
	height: 1250px;
	width: 1100px;
  background-image: url("../img/subway-map.jpg");
  background-size: cover;


}

.toolTip{
  padding: 10px;
  color: white;
  background-color: black;

}

.minRow{
  padding-left: 2px;
  text-align: center;

}

text {
    pointer-events: none;
}

